### DataDynamos

In [1]:
import pandas as pd

We import the necessary data set (charging sessions data set) with the data from the Chr√°rging Garages.

In [223]:
file_path = './data/'
data = pd.read_csv(f"{file_path}charging_sessions.csv", sep=",")

#### 1. Data Preparation

In [224]:
data.head(5)

   Unnamed: 0                        id             connectionTime             disconnectTime           doneChargingTime  kWhDelivered                               sessionID  siteID  spaceID    stationID             timezone  userID                                         userInputs
0           0  5e23b149f9af8b5fe4b973cf  2020-01-02 13:08:54+00:00  2020-01-02 19:11:15+00:00  2020-01-02 17:31:35+00:00        25.016  1_1_179_810_2020-01-02 13:08:53.870034       1  AG-3F30  1-1-179-810  America/Los_Angeles   194.0  [{'WhPerMile': 250, 'kWhRequested': 25.0, 'mil...
1           1  5e23b149f9af8b5fe4b973d0  2020-01-02 13:36:50+00:00  2020-01-02 22:38:21+00:00  2020-01-02 20:18:05+00:00        33.097  1_1_193_825_2020-01-02 13:36:49.599853       1  AG-1F01  1-1-193-825  America/Los_Angeles  4275.0  [{'WhPerMile': 280, 'kWhRequested': 70.0, 'mil...
2           2  5e23b149f9af8b5fe4b973d1  2020-01-02 13:56:35+00:00  2020-01-03 00:39:22+00:00  2020-01-02 16:35:06+00:00         6.521  1_1_193_829_2020-01-02 13:56:35.214993       1  AG-1F03  1-1-193-829  America/Los_Angeles   344.0  [{'WhPerMile': 400, 'kWhRequested': 8.0, 'mile...
3           3  5e23b149f9af8b5fe4b973d2  2020-01-02 13:59:58+00:00  2020-01-02 16:38:39+00:00  2020-01-02 15:18:45+00:00         2.355  1_1_193_820_2020-01-02 13:59:58.309319       1  AG-1F04  1-1-193-820  America/Los_Angeles  1117.0  [{'WhPerMile': 400, 'kWhRequested': 8.0, 'mile...
4           4  5e23b149f9af8b5fe4b973d3  2020-01-02 14:00:01+00:00  2020-01-02 22:08:40+00:00  2020-01-02 18:17:30+00:00        13.375  1_1_193_819_2020-01-02 14:00:00.779967       1  AG-1F06  1-1-193-819  America/Los_Angeles   334.0  [{'WhPerMile': 400, 'kWhRequested': 16.0, 'mil...

In [225]:
#data.tail(10)

The data in the dataset contains different attributes. Lets have a look at the different attributes.

In [226]:
data.columns

Index(['Unnamed: 0', 'id', 'connectionTime', 'disconnectTime', 'doneChargingTime', 'kWhDelivered', 'sessionID', 'siteID', 'spaceID', 'stationID', 'timezone', 'userID', 'userInputs'], dtype='object')

What does 'unnamed' mean? 
Presumably, the column is an index from the original DataFrame and gets transferred into a column when reading the CSV file. Since our dataset contains a unique ID for each entry, the 'Unnamed' numbering is not needed and can be deleted.

In [227]:
data_clean = data.drop(columns=['Unnamed: 0'])
data_clean.head(10)

                         id             connectionTime             disconnectTime           doneChargingTime  kWhDelivered                               sessionID  siteID  spaceID    stationID             timezone  userID                                         userInputs
0  5e23b149f9af8b5fe4b973cf  2020-01-02 13:08:54+00:00  2020-01-02 19:11:15+00:00  2020-01-02 17:31:35+00:00        25.016  1_1_179_810_2020-01-02 13:08:53.870034       1  AG-3F30  1-1-179-810  America/Los_Angeles   194.0  [{'WhPerMile': 250, 'kWhRequested': 25.0, 'mil...
1  5e23b149f9af8b5fe4b973d0  2020-01-02 13:36:50+00:00  2020-01-02 22:38:21+00:00  2020-01-02 20:18:05+00:00        33.097  1_1_193_825_2020-01-02 13:36:49.599853       1  AG-1F01  1-1-193-825  America/Los_Angeles  4275.0  [{'WhPerMile': 280, 'kWhRequested': 70.0, 'mil...
2  5e23b149f9af8b5fe4b973d1  2020-01-02 13:56:35+00:00  2020-01-03 00:39:22+00:00  2020-01-02 16:35:06+00:00         6.521  1_1_193_829_2020-01-02 13:56:35.214993       1  AG-1F03  1-1-193-829  America/Los_Angeles   344.0  [{'WhPerMile': 400, 'kWhRequested': 8.0, 'mile...
3  5e23b149f9af8b5fe4b973d2  2020-01-02 13:59:58+00:00  2020-01-02 16:38:39+00:00  2020-01-02 15:18:45+00:00         2.355  1_1_193_820_2020-01-02 13:59:58.309319       1  AG-1F04  1-1-193-820  America/Los_Angeles  1117.0  [{'WhPerMile': 400, 'kWhRequested': 8.0, 'mile...
4  5e23b149f9af8b5fe4b973d3  2020-01-02 14:00:01+00:00  2020-01-02 22:08:40+00:00  2020-01-02 18:17:30+00:00        13.375  1_1_193_819_2020-01-02 14:00:00.779967       1  AG-1F06  1-1-193-819  America/Los_Angeles   334.0  [{'WhPerMile': 400, 'kWhRequested': 16.0, 'mil...
5  5e23b149f9af8b5fe4b973d4  2020-01-02 14:00:13+00:00  2020-01-02 23:00:41+00:00  2020-01-02 20:13:21+00:00        13.370  1_1_194_821_2020-01-02 14:00:05.241573       1  AG-1F13  1-1-194-821  America/Los_Angeles  3519.0  [{'WhPerMile': 600, 'kWhRequested': 24.0, 'mil...
6  5e23b149f9af8b5fe4b973d5  2020-01-02 14:09:14+00:00  2020-01-03 01:57:58+00:00  2020-01-03 00:59:21+00:00        43.477  1_1_178_817_2020-01-02 14:09:14.451827       1  AG-1F09  1-1-178-817  America/Los_Angeles   933.0  [{'WhPerMile': 385, 'kWhRequested': 65.45, 'mi...
7  5e23b149f9af8b5fe4b973d6  2020-01-02 14:17:32+00:00  2020-01-03 00:44:54+00:00  2020-01-02 20:22:40+00:00        32.441  1_1_191_804_2020-01-02 14:17:32.329535       1  AG-4F34  1-1-191-804  America/Los_Angeles  3737.0  [{'WhPerMile': 300, 'kWhRequested': 45.0, 'mil...
8  5e23b149f9af8b5fe4b973d7  2020-01-02 14:25:38+00:00  2020-01-02 19:36:05+00:00  2020-01-02 18:38:39+00:00        13.264  1_1_194_826_2020-01-02 14:25:37.578692       1  AG-1F11  1-1-194-826  America/Los_Angeles   419.0  [{'WhPerMile': 400, 'kWhRequested': 40.0, 'mil...
9  5e23b149f9af8b5fe4b973d8  2020-01-02 14:27:40+00:00  2020-01-02 20:01:48+00:00  2020-01-02 19:17:46+00:00        13.285  1_1_178_823_2020-01-02 14:27:39.582337       1  AG-1F08  1-1-178-823  America/Los_Angeles   651.0  [{'WhPerMile': 400, 'kWhRequested': 20.0, 'mil...

In [228]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66450 entries, 0 to 66449
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        66450 non-null  int64
 1   id                66450 non-null  object
 2   connectionTime    66450 non-null  object
 3   disconnectTime    66450 non-null  object
 4   doneChargingTime  62362 non-null  object
 5   kWhDelivered      66450 non-null  float64
 6   sessionID         66450 non-null  object
 7   siteID            66450 non-null  int64
 8   spaceID           66450 non-null  object
 9   stationID         66450 non-null  object
 10  timezone          66450 non-null  object
 11  userID            49187 non-null  float64
 12  userInputs        49187 non-null  object
dtypes: float64(2), int64(2), object(9)
memory usage: 6.6+ MB
None

Here you can see that 'doneChargingTime', 'userID', and 'userInputs' have missing values. For the userId and inputs it can be explained through missing user accounts. Not every user of the garage needs to be registred. But for the missing values of the charging-end we need a solution.

In [229]:
print(f"The charging dataset contains {len(data)} entries")

The charging dataset contains 66450 entries

The missing values of the finished chargingTime could mean, that the EV is not finished loading during the parking slot and may needs some more time to finish.

But before using the time-data we have to convert them into timestamps:
1. Check the time columns and transfer them into datetime to further be able to work with them.
2. We also do not want the information on the timezone, so we exclude it from the timestamp

In [230]:
print(data['connectionTime'].dtype)

object

In [231]:
data_clean['connectionTime'] = pd.to_datetime(data_clean['connectionTime']).dt.tz_localize(None)
data_clean['disconnectTime'] = pd.to_datetime(data_clean['disconnectTime']).dt.tz_localize(None)
data_clean['doneChargingTime'] = pd.to_datetime(data_clean['doneChargingTime']).dt.tz_localize(None)
data_clean.head()

                         id      connectionTime      disconnectTime    doneChargingTime  kWhDelivered                               sessionID  siteID  spaceID    stationID             timezone  userID                                         userInputs
0  5e23b149f9af8b5fe4b973cf 2020-01-02 13:08:54 2020-01-02 19:11:15 2020-01-02 17:31:35        25.016  1_1_179_810_2020-01-02 13:08:53.870034       1  AG-3F30  1-1-179-810  America/Los_Angeles   194.0  [{'WhPerMile': 250, 'kWhRequested': 25.0, 'mil...
1  5e23b149f9af8b5fe4b973d0 2020-01-02 13:36:50 2020-01-02 22:38:21 2020-01-02 20:18:05        33.097  1_1_193_825_2020-01-02 13:36:49.599853       1  AG-1F01  1-1-193-825  America/Los_Angeles  4275.0  [{'WhPerMile': 280, 'kWhRequested': 70.0, 'mil...
2  5e23b149f9af8b5fe4b973d1 2020-01-02 13:56:35 2020-01-03 00:39:22 2020-01-02 16:35:06         6.521  1_1_193_829_2020-01-02 13:56:35.214993       1  AG-1F03  1-1-193-829  America/Los_Angeles   344.0  [{'WhPerMile': 400, 'kWhRequested': 8.0, 'mile...
3  5e23b149f9af8b5fe4b973d2 2020-01-02 13:59:58 2020-01-02 16:38:39 2020-01-02 15:18:45         2.355  1_1_193_820_2020-01-02 13:59:58.309319       1  AG-1F04  1-1-193-820  America/Los_Angeles  1117.0  [{'WhPerMile': 400, 'kWhRequested': 8.0, 'mile...
4  5e23b149f9af8b5fe4b973d3 2020-01-02 14:00:01 2020-01-02 22:08:40 2020-01-02 18:17:30        13.375  1_1_193_819_2020-01-02 14:00:00.779967       1  AG-1F06  1-1-193-819  America/Los_Angeles   334.0  [{'WhPerMile': 400, 'kWhRequested': 16.0, 'mil...

In [232]:
no_doneCharging = data_clean[data_clean['doneChargingTime'].isna()]
no_doneCharging.head()

                            id      connectionTime      disconnectTime doneChargingTime  kWhDelivered                               sessionID  siteID  spaceID    stationID             timezone  userID                                         userInputs
3756  5ea3848df9af8b428bf97225 2020-04-08 16:36:53 2020-04-09 03:43:29              NaT        25.183  1_1_194_822_2020-04-08 16:36:53.316264       1  AG-1F12  1-1-194-822  America/Los_Angeles   507.0  [{'WhPerMile': 250, 'kWhRequested': 75.0, 'mil...
3757  5ea4d60df9af8b46573f1ee7 2020-04-09 13:23:52 2020-04-09 17:59:02              NaT        14.136  1_1_193_827_2020-04-09 13:23:51.689520       1  AG-1F02  1-1-193-827  America/Los_Angeles   419.0  [{'WhPerMile': 400, 'kWhRequested': 40.0, 'mil...
3758  5ea4d60df9af8b46573f1ee8 2020-04-09 13:40:03 2020-04-09 21:43:22              NaT        14.203  1_1_178_823_2020-04-09 13:39:55.115497       1  AG-1F08  1-1-178-823  America/Los_Angeles  5065.0  [{'WhPerMile': 400, 'kWhRequested': 24.0, 'mil...
3759  5ea4d60df9af8b46573f1ee9 2020-04-09 14:01:53 2020-04-09 16:33:40              NaT        13.041  1_1_178_828_2020-04-09 14:01:53.467693       1  AG-1F10  1-1-178-828  America/Los_Angeles   651.0  [{'WhPerMile': 400, 'kWhRequested': 20.0, 'mil...
3760  5ea4d60df9af8b46573f1eea 2020-04-09 15:01:06 2020-04-09 23:38:08              NaT         5.797  1_1_193_820_2020-04-09 15:01:06.343454       1  AG-1F04  1-1-193-820  America/Los_Angeles   466.0  [{'WhPerMile': 300, 'kWhRequested': 6.0, 'mile...

I first thought that the error occurs when the loading procedure is very long, but the duration says different...

In [233]:
no_doneCharging['duration'] = (no_doneCharging['disconnectTime'] - no_doneCharging['connectionTime']).dt.total_seconds() /3600 # in hours
print(no_doneCharging[['connectionTime', 'disconnectTime', 'duration']])

           connectionTime      disconnectTime   duration
3756  2020-04-08 16:36:53 2020-04-09 03:43:29  11.110000
3757  2020-04-09 13:23:52 2020-04-09 17:59:02   4.586111
3758  2020-04-09 13:40:03 2020-04-09 21:43:22   8.055278
3759  2020-04-09 14:01:53 2020-04-09 16:33:40   2.529722
3760  2020-04-09 15:01:06 2020-04-09 23:38:08   8.617222
...                   ...                 ...        ...
60411 2019-03-30 00:32:10 2019-03-30 02:23:14   1.851111
61097 2019-04-14 16:19:12 2019-04-14 20:38:39   4.324167
61103 2019-04-15 13:00:59 2019-04-15 13:55:25   0.907222
61117 2019-04-15 13:52:45 2019-04-15 14:47:01   0.904444
65530 2019-07-13 20:13:18 2019-07-13 20:37:40   0.406111

[4088 rows x 3 columns]

C:\Users\carlo\AppData\Local\Temp\ipykernel_53756\1641337212.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_doneCharging['duration'] = (no_doneCharging['disconnectTime'] - no_doneCharging['connectionTime']).dt.total_seconds() /3600 # in hours

One consideration to solve this issue is to set the doneChargingTime = disconnectTime, as this would mean that the EVs were not fully charged and were charging the whole time from the start to the end of the parking (connection) time. however, it could also mean that some data was not recorded correctly.

In [234]:
# Fill NaN values in 'doneChargingTime' with corresponding values from 'disconnectTime'
data_clean['doneChargingTime'] = data_clean['doneChargingTime'].fillna(data_clean['disconnectTime'])
# from further analysis we know, that this entries f.e. had a missing 'doneChargingTime' so display some of the specific rows to verify the fill
#print(data_clean.loc[[3760, 61097, 65530], :])

They are shown weird so we transposed the dataset to have a better overview. Here you can see, that the time is set correctly.

In [235]:
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', 1000)   
print(data_clean.loc[[3760, 61097, 65530], :].transpose())

                                                              3760                                               61097                                              65530
id                                         5ea4d60df9af8b46573f1eea                           5cc8e891f9af8b45d975b819                           5d3f8f96f9af8b7f97666a55
connectionTime                                  2020-04-09 15:01:06                                2019-04-14 16:19:12                                2019-07-13 20:13:18
disconnectTime                                  2020-04-09 23:38:08                                2019-04-14 20:38:39                                2019-07-13 20:37:40
doneChargingTime                                2020-04-09 23:38:08                                2019-04-14 20:38:39                                2019-07-13 20:37:40
kWhDelivered                                                  5.797                                             11.678                                              2.218
sessionID                    1_1_193_820_2020-04-09 15:01:06.343454             1_1_193_816_2019-04-14 16:19:11.864262             1_1_193_825_2019-07-13 20:13:18.490314
siteID                                                            1                                                  1                                                  1
spaceID                                                     AG-1F04                                            AG-1F05                                            AG-1F01
stationID                                               1-1-193-820                                        1-1-193-816                                        1-1-193-825
timezone                                        America/Los_Angeles                                America/Los_Angeles                                America/Los_Angeles
userID                                                        466.0                                              364.0                                               76.0
userInputs        [{'WhPerMile': 300, 'kWhRequested': 6.0, 'mile...  [{'WhPerMile': 400, 'kWhRequested': 56.0, 'mil...  [{'WhPerMile': 301, 'kWhRequested': 9.03, 'mil...

The length of the userId and the userInput is the same which could mean that each userInput has a corresponding userID. But to be sure we check if that is the case. It could not be that an entry with a userInput has no corresponding userId:

In [236]:
def check_user_input_user_id(data):

    invalid_entries = data[(data['userInputs'].notnull()) & (data['userID'].isnull())]

    if len(invalid_entries>0):
        print("There are entries with 'userInputs' but no 'userID':")
        print(invalid_entries)
        return False
    else:
        print("All 'userInputs' have a corresponding 'userID'.")
        return True

result = check_user_input_user_id(data)

All 'userInputs' have a corresponding 'userID'.

Now we check how long each charging process durates.

In [237]:
data_clean['chargingDuration'] = data_clean['disconnectTime']-data_clean['connectionTime']
data_clean['chargingDuration'] = data_clean['chargingDuration'].dt.total_seconds() /3600 # in hours
print(data_clean[['connectionTime', 'disconnectTime', 'chargingDuration']].head())

       connectionTime      disconnectTime  chargingDuration
0 2020-01-02 13:08:54 2020-01-02 19:11:15          6.039167
1 2020-01-02 13:36:50 2020-01-02 22:38:21          9.025278
2 2020-01-02 13:56:35 2020-01-03 00:39:22         10.713056
3 2020-01-02 13:59:58 2020-01-02 16:38:39          2.644722
4 2020-01-02 14:00:01 2020-01-02 22:08:40          8.144167

In [238]:
average_duration = data_clean['chargingDuration'].mean()
print(f'The average duration time for the charging process is: {average_duration:.2f} hours')

The average duration time for the charging process is: 6.29 hours

The timezone is America for all, so we have to change the time from UTC to UTC-8 hours.

In [239]:
from datetime import datetime
import pytz
la_timezone = pytz.timezone('America/Los_Angeles')
utc_timezone = pytz.utc
utc_now = datetime.now(pytz.utc)
la_now = datetime.now(pytz.timezone('America/Los_Angeles'))

print('Current UTC Time: ', utc_now.strftime('%Y-%m-%d %H:%M:%S %Z%z'))
print('Current LA Time: ', la_now.strftime('%Y-%m-%d %H:%M:%S %Z%z'))

Current UTC Time:  2024-11-07 20:36:42 UTC+0000
Current LA Time:  2024-11-07 12:36:42 PST-0800

In [240]:
data_clean['connectionTime'] = data_clean['connectionTime'].dt.tz_localize(utc_timezone).dt.tz_convert(la_timezone)
data_clean['disconnectTime'] = data_clean['disconnectTime'].dt.tz_localize(utc_timezone).dt.tz_convert(la_timezone)
data_clean['doneChargingTime'] = data_clean['doneChargingTime'].dt.tz_localize(utc_timezone).dt.tz_convert(la_timezone)

In [241]:
data_clean.head(2)

                         id            connectionTime            disconnectTime          doneChargingTime  kWhDelivered                               sessionID  siteID  spaceID    stationID             timezone  userID                                         userInputs  chargingDuration
0  5e23b149f9af8b5fe4b973cf 2020-01-02 05:08:54-08:00 2020-01-02 11:11:15-08:00 2020-01-02 09:31:35-08:00        25.016  1_1_179_810_2020-01-02 13:08:53.870034       1  AG-3F30  1-1-179-810  America/Los_Angeles   194.0  [{'WhPerMile': 250, 'kWhRequested': 25.0, 'mil...          6.039167
1  5e23b149f9af8b5fe4b973d0 2020-01-02 05:36:50-08:00 2020-01-02 14:38:21-08:00 2020-01-02 12:18:05-08:00        33.097  1_1_193_825_2020-01-02 13:36:49.599853       1  AG-1F01  1-1-193-825  America/Los_Angeles  4275.0  [{'WhPerMile': 280, 'kWhRequested': 70.0, 'mil...          9.025278

split the dataset in two different. One for the station with siteID 1 and one for the station with the siteID 2.

In [242]:
df_1 = data_clean[data_clean['siteID']==1]
df_2 = data_clean[data_clean['siteID']==2]

In [243]:
# df_1.head(5)

In [244]:
# df_2.head()

In [245]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35042 entries, 0 to 66449
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                35042 non-null  object
 1   connectionTime    35042 non-null  datetime64[ns, America/Los_Angeles]
 2   disconnectTime    35042 non-null  datetime64[ns, America/Los_Angeles]
 3   doneChargingTime  35042 non-null  datetime64[ns, America/Los_Angeles]
 4   kWhDelivered      35042 non-null  float64
 5   sessionID         35042 non-null  object
 6   siteID            35042 non-null  int64
 7   spaceID           35042 non-null  object
 8   stationID         35042 non-null  object
 9   timezone          35042 non-null  object
 10  userID            32815 non-null  float64
 11  userInputs        32815 non-null  object
 12  chargingDuration  35042 non-null  float64
dtypes: datetime64[ns, America/Los_Angeles](3), float64(3), int64(1), object(6)
memory usage: 3.7+ MB

In [246]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31408 entries, 20179 to 51586
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                31408 non-null  object
 1   connectionTime    31408 non-null  datetime64[ns, America/Los_Angeles]
 2   disconnectTime    31408 non-null  datetime64[ns, America/Los_Angeles]
 3   doneChargingTime  31408 non-null  datetime64[ns, America/Los_Angeles]
 4   kWhDelivered      31408 non-null  float64
 5   sessionID         31408 non-null  object
 6   siteID            31408 non-null  int64
 7   spaceID           31408 non-null  object
 8   stationID         31408 non-null  object
 9   timezone          31408 non-null  object
 10  userID            16372 non-null  float64
 11  userInputs        16372 non-null  object
 12  chargingDuration  31408 non-null  float64
dtypes: datetime64[ns, America/Los_Angeles](3), float64(3), int64(1), object(6)
memory usage: 3.4+ MB

In [ ]:
session_count = df_1.groupby(['stationID', 'disconnectTime']).size()

# Filter out the stations where the count is 2 or more per day
stations_used_twice_or_more = session_count[session_count >= 2]

# Count the number of such occurrences
count_stations_used_twice_or_more = stations_used_twice_or_more.reset_index()['stationID'].nunique()
print(f"Number of stations used twice or more a day: {count_stations_used_twice_or_more}")

Number of stations used twice or more a day: 0

In [254]:
session_count = df_2.groupby(['stationID', 'disconnectTime']).size()

# Filter out the stations where the count is 2 or more per day
stations_used_twice_or_more = session_count[session_count > 1]

# Count the number of such occurrences
count_stations_used_twice_or_more = stations_used_twice_or_more.reset_index()['stationID'].nunique()
print(f"Number of stations used twice or more a day: {count_stations_used_twice_or_more}")

Number of stations used twice or more a day: 0

Two times is the maximum a station of `siteID=1` is used a day. And one time is the maximum a station is used a day for `siteID=2` You can check it by adjusting `session_count > x` in the cell above