**Data Collection & Preparation**

First, we import some libraries that are useful and needed for the following tasks.

In [50]:
import pandas as pd
import numpy as np
import ast

Then, we import the necessary data set.

In [17]:
file_path = './data/'
df_raw = pd.read_csv(f"{file_path}charging_sessions.csv", sep=",")

Getting a first sight of the data by displaying the first 5 entries.

In [4]:
df_raw.head(5)

,Unnamed: 0,id,connectionTime,disconnectTime,doneChargingTime,kWhDelivered,sessionID,siteID,spaceID,stationID,timezone,userID,userInputs
0,0,5e23b149f9af8b5fe4b973cf,2020-01-02 13:08:54+00:00,2020-01-02 19:11:15+00:00,2020-01-02 17:31:35+00:00,25.016,1_1_179_810_2020-01-02 13:08:53.870034,1,AG-3F30,1-1-179-810,America/Los_Angeles,194.0,"[{'WhPerMile': 250, 'kWhRequested': 25.0, 'mil..."
1,1,5e23b149f9af8b5fe4b973d0,2020-01-02 13:36:50+00:00,2020-01-02 22:38:21+00:00,2020-01-02 20:18:05+00:00,33.097,1_1_193_825_2020-01-02 13:36:49.599853,1,AG-1F01,1-1-193-825,America/Los_Angeles,4275.0,"[{'WhPerMile': 280, 'kWhRequested': 70.0, 'mil..."
2,2,5e23b149f9af8b5fe4b973d1,2020-01-02 13:56:35+00:00,2020-01-03 00:39:22+00:00,2020-01-02 16:35:06+00:00,6.521,1_1_193_829_2020-01-02 13:56:35.214993,1,AG-1F03,1-1-193-829,America/Los_Angeles,344.0,"[{'WhPerMile': 400, 'kWhRequested': 8.0, 'mile..."
3,3,5e23b149f9af8b5fe4b973d2,2020-01-02 13:59:58+00:00,2020-01-02 16:38:39+00:00,2020-01-02 15:18:45+00:00,2.355,1_1_193_820_2020-01-02 13:59:58.309319,1,AG-1F04,1-1-193-820,America/Los_Angeles,1117.0,"[{'WhPerMile': 400, 'kWhRequested': 8.0, 'mile..."
4,4,5e23b149f9af8b5fe4b973d3,2020-01-02 14:00:01+00:00,2020-01-02 22:08:40+00:00,2020-01-02 18:17:30+00:00,13.375,1_1_193_819_2020-01-02 14:00:00.779967,1,AG-1F06,1-1-193-819,America/Los_Angeles,334.0,"[{'WhPerMile': 400, 'kWhRequested': 16.0, 'mil..."

In [18]:
num_rows, num_columns = df_raw.shape
print(f"rows: {num_rows}, columns: {num_columns}")

rows: 66450, columns: 13

The data set contains 66450 observations over 13 variables.

In [19]:
dtypes_df = df_raw.dtypes.reset_index()
dtypes_df.columns = ['Row', 'Datetype']
print(dtypes_df)

                 Row Datetype
0         Unnamed: 0    int64
1                 id   object
2     connectionTime   object
3     disconnectTime   object
4   doneChargingTime   object
5       kWhDelivered  float64
6          sessionID   object
7             siteID    int64
8            spaceID   object
9          stationID   object
10          timezone   object
11            userID  float64
12        userInputs   object

Convert 'id' into string; 'connectionTime', 'disconnectTime', and 'doneChargingTime' into date format;

Now we check for missing or erroneous data.
To do this, we start by checking if there are empty strings.

In [20]:
empty_strings_count = (df_raw == "").sum()
print(empty_strings_count)

Unnamed: 0          0
id                  0
connectionTime      0
disconnectTime      0
doneChargingTime    0
kWhDelivered        0
sessionID           0
siteID              0
spaceID             0
stationID           0
timezone            0
userID              0
userInputs          0
dtype: int64

There are no empty strings. So in the next step, we are checking for NaN values.

In [13]:
missing_values_count = df_raw.isnull().sum()
print(missing_values_count)

Unnamed: 0              0
id                      0
connectionTime          0
disconnectTime          0
doneChargingTime     4088
kWhDelivered            0
sessionID               0
siteID                  0
spaceID                 0
stationID               0
timezone                0
userID              17263
userInputs          17263
dtype: int64

"doneChargingTime" has got 4088 entries with NaN values. NaN values in 'userInputs' and 'userID' are obvious as these variables are optional.

Checking for invalid dates within the date related columns.

In [14]:
invalid_dates_summary = {
    'connectionTime': pd.to_datetime(df_raw['connectionTime'], errors='coerce').isna().sum(),
    'disconnectTime': pd.to_datetime(df_raw['disconnectTime'], errors='coerce').isna().sum(),
    'doneChargingTime': pd.to_datetime(df_raw['doneChargingTime'], errors='coerce').isna().sum()
}
print(invalid_dates_summary)

{'connectionTime': 0, 'disconnectTime': 0, 'doneChargingTime': 4088}

It shows that there are no invalid dates such as '33.12.2020', but the 4088 NaN values within 'doneChargingTime' from the code above.

Next up, we check if ‘timezone’ has different values in order to convert its respective timezone correctly. In addition, we also check which timezones the variables ‘connectionTime’, ‘disconnectTime’, and ‘doneChargingTime’  contain.

In [15]:
timezone_counts = df_raw['timezone'].value_counts()
print(timezone_counts)

timezone
America/Los_Angeles    66450
Name: count, dtype: int64

In [16]:
connectionTime_tz = pd.to_datetime(df_raw['connectionTime']).dt.tz
disconnectTime_tz = pd.to_datetime(df_raw['disconnectTime']).dt.tz
doneChargingTime_tz = pd.to_datetime(df_raw['doneChargingTime']).dt.tz

print(f"connectionTime: {connectionTime_tz}\ndisconnectTime: {disconnectTime_tz}\ndoneChargingTime: {doneChargingTime_tz}")

connectionTime: UTC
disconnectTime: UTC
doneChargingTime: UTC

From this we know that we need to convert the 3 variables from UTC to PST.

After analysing the raw data set, we write a function to clean up the data.

In [57]:
def preprocess_data(df_raw):
    # Make a copy of the raw dataframe
    df_cleaned = df_raw.copy()

    # Drop the column 'Unnamed: 0' 
    df_cleaned = df_cleaned.drop(columns=['Unnamed: 0'])

    # Convert the date columns into date format, convert timezone into PST & remove the timezone information
    df_cleaned['connectionTime'] = pd.to_datetime(df_cleaned['connectionTime']).dt.tz_convert('America/Los_Angeles').dt.tz_localize(None)
    df_cleaned['disconnectTime'] = pd.to_datetime(df_cleaned['disconnectTime']).dt.tz_convert('America/Los_Angeles').dt.tz_localize(None)
    df_cleaned['doneChargingTime'] = pd.to_datetime(df_cleaned['doneChargingTime']).dt.tz_convert('America/Los_Angeles').dt.tz_localize(None)

    # Define the expected columns to extract from 'userInput'
    userInput_cols_to_extract = ['WhPerMile', 'kWhRequested', 'milesRequested', 'minutesAvailable', 'modifiedAt', 'paymentRequired', 'requestedDeparture']

    # Extract each field dynamically & add it as new column
    for column in userInput_cols_to_extract:
        df_cleaned[column] = df_cleaned['userInputs'].apply(
            lambda x: ast.literal_eval(x)[0].get(column) if isinstance(x, str) and len(x) > 0 else np.nan
        )

    # Remove the 'userInputs' column afterwards
    df_cleaned = df_cleaned.drop(columns=['userInputs'])
    
    # Return the preprocessed and cleaned data frame
    return df_cleaned

In [58]:
df = preprocess_data(df_raw)

Check the structure and datatypes to see whether the function cleaned our data correctly

In [59]:
df.head(10)

,id,connectionTime,disconnectTime,doneChargingTime,kWhDelivered,sessionID,siteID,spaceID,stationID,timezone,userID,WhPerMile,kWhRequested,milesRequested,minutesAvailable,modifiedAt,paymentRequired,requestedDeparture
0,5e23b149f9af8b5fe4b973cf,2020-01-02 05:08:54,2020-01-02 11:11:15,2020-01-02 09:31:35,25.016,1_1_179_810_2020-01-02 13:08:53.870034,1,AG-3F30,1-1-179-810,America/Los_Angeles,194.0,250.0,25.00,100.0,463.0,"Thu, 02 Jan 2020 13:09:39 GMT",True,"Thu, 02 Jan 2020 20:51:54 GMT"
1,5e23b149f9af8b5fe4b973d0,2020-01-02 05:36:50,2020-01-02 14:38:21,2020-01-02 12:18:05,33.097,1_1_193_825_2020-01-02 13:36:49.599853,1,AG-1F01,1-1-193-825,America/Los_Angeles,4275.0,280.0,70.00,250.0,595.0,"Thu, 02 Jan 2020 13:37:11 GMT",True,"Thu, 02 Jan 2020 23:31:50 GMT"
2,5e23b149f9af8b5fe4b973d1,2020-01-02 05:56:35,2020-01-02 16:39:22,2020-01-02 08:35:06,6.521,1_1_193_829_2020-01-02 13:56:35.214993,1,AG-1F03,1-1-193-829,America/Los_Angeles,344.0,400.0,8.00,20.0,60.0,"Thu, 02 Jan 2020 13:57:17 GMT",True,"Thu, 02 Jan 2020 14:56:35 GMT"
3,5e23b149f9af8b5fe4b973d2,2020-01-02 05:59:58,2020-01-02 08:38:39,2020-01-02 07:18:45,2.355,1_1_193_820_2020-01-02 13:59:58.309319,1,AG-1F04,1-1-193-820,America/Los_Angeles,1117.0,400.0,8.00,20.0,65.0,"Thu, 02 Jan 2020 14:00:03 GMT",True,"Thu, 02 Jan 2020 15:04:58 GMT"
4,5e23b149f9af8b5fe4b973d3,2020-01-02 06:00:01,2020-01-02 14:08:40,2020-01-02 10:17:30,13.375,1_1_193_819_2020-01-02 14:00:00.779967,1,AG-1F06,1-1-193-819,America/Los_Angeles,334.0,400.0,16.00,40.0,504.0,"Thu, 02 Jan 2020 14:00:13 GMT",True,"Thu, 02 Jan 2020 22:24:01 GMT"
5,5e23b149f9af8b5fe4b973d4,2020-01-02 06:00:13,2020-01-02 15:00:41,2020-01-02 12:13:21,13.370,1_1_194_821_2020-01-02 14:00:05.241573,1,AG-1F13,1-1-194-821,America/Los_Angeles,3519.0,600.0,24.00,40.0,624.0,"Thu, 02 Jan 2020 14:00:12 GMT",True,"Fri, 03 Jan 2020 00:24:13 GMT"
6,5e23b149f9af8b5fe4b973d5,2020-01-02 06:09:14,2020-01-02 17:57:58,2020-01-02 16:59:21,43.477,1_1_178_817_2020-01-02 14:09:14.451827,1,AG-1F09,1-1-178-817,America/Los_Angeles,933.0,385.0,65.45,170.0,647.0,"Thu, 02 Jan 2020 14:09:33 GMT",True,"Fri, 03 Jan 2020 00:56:14 GMT"
7,5e23b149f9af8b5fe4b973d6,2020-01-02 06:17:32,2020-01-02 16:44:54,2020-01-02 12:22:40,32.441,1_1_191_804_2020-01-02 14:17:32.329535,1,AG-4F34,1-1-191-804,America/Los_Angeles,3737.0,300.0,45.00,150.0,126.0,"Thu, 02 Jan 2020 14:17:40 GMT",True,"Thu, 02 Jan 2020 16:23:32 GMT"
8,5e23b149f9af8b5fe4b973d7,2020-01-02 06:25:38,2020-01-02 11:36:05,2020-01-02 10:38:39,13.264,1_1_194_826_2020-01-02 14:25:37.578692,1,AG-1F11,1-1-194-826,America/Los_Angeles,419.0,400.0,40.00,100.0,491.0,"Thu, 02 Jan 2020 14:25:45 GMT",True,"Thu, 02 Jan 2020 22:36:38 GMT"
9,5e23b149f9af8b5fe4b973d8,2020-01-02 06:27:40,2020-01-02 12:01:48,2020-01-02 11:17:46,13.285,1_1_178_823_2020-01-02 14:27:39.582337,1,AG-1F08,1-1-178-823,America/Los_Angeles,651.0,400.0,20.00,50.0,226.0,"Thu, 02 Jan 2020 14:27:48 GMT",True,"Thu, 02 Jan 2020 18:13:40 GMT"

In [60]:
df.dtypes

id                            object
connectionTime        datetime64[ns]
disconnectTime        datetime64[ns]
doneChargingTime      datetime64[ns]
kWhDelivered                 float64
sessionID                     object
siteID                         int64
spaceID                       object
stationID                     object
timezone                      object
userID                       float64
WhPerMile                    float64
kWhRequested                 float64
milesRequested               float64
minutesAvailable             float64
modifiedAt                    object
paymentRequired               object
requestedDeparture            object
dtype: object